[submodule "external/szthreadpool"]
	path = external/szthreadpool
	url = https://github.com/snowzurfer/szthreadpool.git
[submodule "external/kazmath"]
	path = external/kazmath
	url = https://github.com/Kazade/kazmath.git
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/spurious/SDL-mirror.git
